/*elemento base*/

body {
  background: white;
  font-family: "Arial", Times, serif;
  color: rgb(5, 4, 4);
  margin: 15px;
}

header {
    
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 50px;
  border: 2px solid;
  border-radius: 20px;
  padding: 15px;
}

header nav a {
  color: rgb(17, 2, 2);
  padding: 20px;
  font-size: 20px;
}

header nav a:hover {
  color: rgba(64, 89, 233, 0.575);
}

/*filme principal*/

#main {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  width: 50%;
  border-radius: 20px;
}

.titulo {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 15px;
}

.descricao {
  line-height: 20px;
  margin-left: 15px;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px 30px;
  margin-right: 15px;
  font-size: 12px;
  border-radius: 5px;
}

.botao:hover {
  background-color: white;
  color: rgb(235, 235, 235);
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 2px 2px 0px 1px rgb(240, 237, 236);
  transition: box-shadow 0.3s ease, transform 0, 3s ease;
}

.botao {
  margin-right: 8px;
}


.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}
.carrosel-filmes {
  margin-top: 5px;
}
